<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="/Statics/css/news.css">
    <!-- Favicon -->
    <link rel="shortcut icon" href="/Statics/Images/icono.ico">
    <!-- Bootstrap iconos -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
     <!-- Bootstrap CSS link -->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <title>Elden Ring ya vendió 20 millones de unidades</title>
</head>
<body class="bd">

    <header id="home">
        <div class="titulo">
         <h1>
           20 Millones vendidos!!!
         </h1>
        </div>
       </header>

    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top bg-transparent">
        <div class="container">
          <a class="navbar-brand fw-bold prueba" id="navnews" href="#"><span style="color: rgb(190, 25, 25);">Tech</span><span  style="color: rgba(255, 255, 255, 0.945)">Game</span><span style="color: rgb(190, 25, 25);">Freak</span></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" id="nv" href="/Index.html">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="nv" href="/Index.html#reviews">Reviews</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="nv" href="/Index.html#tabla_compu">Noticias</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="nv" href="/Index.html#nosotros">Nosotros</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>

    <main>
      <section class="news">
        <div class="news-item">
          <h1>Elden Ring ya vendió 20 millones de unidades</h1>
          <p class="n_p">Elden Ring ha vendido oficialmente más de 20 millones de copias en menos de un año, de acuerdo a información reciente de <b>Bandai Namco</b> y el desarrollador <b>FromSoftware</b>.</p>
          <p class="n_p">El anuncio llegó pocos días antes del primer aniversario del lanzamiento de <b>Elden Ring</b>, el 25 de febrero, en un tuit de la cuenta oficial del título (que puedes ver a continuación) y un comunicado publicado en el sitio web de <a href="https://en.bandainamcoent.eu/elden-ring/news/award-winning-action-rpg-elden-ring-sold-20-million-units-worldwide" target="_blank">Bandai Namco</a>. "Nuestro más sincero agradecimiento por su apoyo y compañía en este viaje"</p>
          <p class="n_p">La última vez que supimos de las cifras de ventas de Elden Ring fue en junio del año pasado, cuando había vendido <b>16,6 millones de unidades</b>, pero el impulso de las fiestas y quizás la gran cantidad de premios que se llevó, entre ellos, <b>el Juego del Año de The Game Awards</b>, lo llevaron a superar la cifra de 20 millones.</p>
        </div>
      </section>

      <section class="twit">
        <blockquote class="twitter-tweet"><p lang="en" dir="ltr">Our heartfelt thanks for your support and companionship on this journey.<a href="https://twitter.com/hashtag/ELDENRING?src=hash&amp;ref_src=twsrc%5Etfw">#ELDENRING</a> <a href="https://t.co/S8eqiNk0Uv">pic.twitter.com/S8eqiNk0Uv</a></p>&mdash; ELDEN RING (@ELDENRING) <a href="https://twitter.com/ELDENRING/status/1628273414354894848?ref_src=twsrc%5Etfw">February 22, 2023</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </section>

      <section class="news">
        <div class="news-item">
          <p class="n_p">El anunció llegó pero sin alguna información extra que pudiera interesarnos, como alguna expansión, ya que hasta ahora no se ha anunciado ningún DLC de historia para Elden Ring, aunque el creador del juego, <b>Hidetaka Miyazaki</b>, insinuó que podría llegar más contenido a las Tierras Intermedias, y adelantó que "aún hay cosas más que queremos hacer”.</p>
        </div>
      </section>

      <section class="subir">
        <a href="#"><i class="bi bi-arrow-up-circle-fill"></i></a>
     </section>
  
    </main> 

    <section class="dev">
      <div class="orrv">
        Desarrollado por <a href="https://github.com/Orrv2904" target="_blank"><b>Omarrv2904</b></a> para <span><b>Web50xNi</b></span>
      </div>
    </section>

</body>

<!-- Bootstrap JS link -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</html>