<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <!-- <link rel="stylesheet" href="/Statics/css/news.css"> -->
    <link rel="stylesheet" href="../../statics/sass/style.css">
    <!-- Favicon -->
    <link rel="shortcut icon" href="../../statics/images/icono.ico">
    <!-- Bootstrap iconos -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
     <!-- Bootstrap CSS link -->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
      <!-- Cambio de color  -->
    <script src="https://code.jquery.com/jquery-3.6.3.js"></script>
     <!-- Cambio de color  -->
     <script src="https://code.jquery.com/jquery-3.6.3.js"></script>

    <title>Apple anuncia nuevos MacBook Pro y Mac Mini</title>
</head>
<body class="bd">

    <header id="home4">
        <div class="titulo3">
         <h1>
            Nuevos dispositivos son anunciados por Apple
         </h1>
        </div>
       </header>

    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top bg-transparent" id="navbar-fixed-top">
        <div class="container">
          <a class="navbar-brand fw-bold prueba" id="navnews" href="../../index.html"><span class="navred">Tech</span><span  class="navwhite">Game</span><span class="navred">Freak</span></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" id="nv" href="../../index.html">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="nv" href="../../index.html#reviews">Reviews</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="nv" href="../../index.html#tabla_compu">Noticias</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="nv" href="../../index.html#nosotros">Nosotros</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>

    <main>
      <h2 class="navegacion">Navegación</h2>
      <section class="indice">
        <ol class="indice">
          <li><a href="#news1">Lo nuevo de Apple</a></li>
          <li><a href="#imgnew">Procesadores</a></li>
          <li><a href="#comparativa">Comparativa y Precios</a></li> 
        </ol>
      </section>

      <section class="news" id="news1">
        <div class="news-item">
          <h1>Nuevos MacBook Pro y Mac Mini con procesadores M2, M2 Pro y M2 Max son anunciados por Apple.</h1>
          <p class="n_p">Apple ha presentado <b>nuevas actualizaciones</b> de modelos para Mac Mini y MacBook Pros, todas las cuales cuentan con el último silicio del fabricante de iPhone.</p>
          <p class="n_p">En una serie de nuevos comunicados de prensa, Apple confirmó que actualizará la <b>Mac Mini y las MacBook Pro de 14 y 16 pulgadas</b>. En lugar de usar el sistema M2 en un chip presentado el año pasado en WWDC y presentado en la MacBook de 13 pulgadas, la más reciente MacBook Air y los modelos actuales de iPad Pro, estos nuevos dispositivos anunciados hoy están configurados para incluir <b>M2, M2 Pro y procesadores M2 Max</b>.</p>
          <p class="n_p">Apple señala en el comunicado de prensa que el M2 Pro cuenta con 200 GB/s de ancho de banda de memoria unificado, el doble de la cantidad incluida en el procesador M2 normal. Apple promociona que el M2 Pro puede "procesar imágenes en Adobe Photoshop hasta un 40 por ciento más rápido que un MacBook Pro con un procesador Intel Core i9". El M2 Max cuenta con 400 GB/s de ancho de banda de memoria unificado, el doble de lo que se ve en el M2 Pro. Tanto el M2 Pro como el M2 Max también comparten la misma CPU de 12 núcleos, aunque Apple señala que el M2 Max es el más avanzado del par, con el chip promocionado como un dispositivo capaz de abordar "proyectos con uso intensivo de gráficos". y que es "el chip más poderoso y eficiente del mundo para una computadora portátil profesional".
          </p>
        </div>
      </section>

      <section id="imgnew">
        <div class="img_nw">
            <img src="https://assets-prd.ignimgs.com/2023/01/17/m2-pro-m2-max-broll-2-1673966537182.png" alt="Apple's M2 Pro (left) and M2 Max (right) processors | Image: Apple">
            <p>Procesadores de M2 Pro (lzquierda) y M2 Max (derecha) | Imagen: Apple</p>
        </div>
      </section>

      <section class="news" id="news1">
        <div class="news-item">
          <p class="n_p">El más reciente Mac Mini parece prácticamente igual en comparación con su actualización anterior de finales de 2020, aunque el aumento en las especificaciones es un buen toque ya que el dispositivo no se ha actualizado desde 2020 cuando Apple colocó el chip M1 original en la computadora, aunque la compañía no mejoró las especificaciones del dispositivo cuando lanzó el M1 Pro M1 Max. El Mac Mini estará disponible en las configuraciones M2 y M2 Pro, según el comunicado de prensa.</p>
        </div>
      </section>

      <section class="news">
        <div class="container">
            <div class="comparacion" id="comparativa">
                <h2>Comparación entre Mac mini con M1 y M2</h2>
                <p>En comparación con la generación anterior, el Mac mini con M1, el Mac mini con M2 ofrece:</p>
                <ul>
                    <li>Transcodificación ProRes hasta 2,4 veces más rápida en Final Cut Pro.</li>
                    <li>Rendimiento de filtros y funciones hasta un 50 por ciento más rápido en Adobe Photoshop.</li>
                    <li>Juego hasta un 35% más rápido en Resident Evil Village.</li>
                </ul>
            </div>
            <div class="comparacion">
                <h2>Comparación entre Mac mini con M1 y M2 Pro</h2>
                <p>En comparación con la generación anterior, el Mac mini con M1, el Mac mini con M2 Pro ofrece:</p>
                <ul>
                    <li>Rendimiento gráfico hasta 2,5 veces más rápido en Affinity Photo.</li>
                    <li>Transcodificación ProRes hasta 4,2 veces más rápida en Final Cut Pro.</li>
                    <li>Juego hasta 2,8 veces más rápido en Resident Evil Village.</li>
                </ul>
            </div>
        </div>
      </section>

      <section class="news" id="precios">
        <div class="news-item">
          <p class="n_p">Los MacBook Pro están disponibles para pedidos a partir de hoy y comenzarán a enviarse el 24 de enero. El precio comienza en $1,999 dólares para el MacBook Pro de 14 pulgadas con el chip M2 Pro y $2,499 dólares para el modelo de 16 pulgadas con el chip. En comparación, los M2 Max MacBook Pro comienzan en $3099 dólares y $3499 dólares para los modelos de 14 y 16 pulgadas, respectivamente.</p>
        </div>
      </section>

      <section class="subir">
        <a href="#"><i class="bi bi-arrow-up-circle-fill"></i></a>
     </section>
  
    </main> 

    <section class="dev">
      <div class="orrv">
        Desarrollado por <a href="https://github.com/Orrv2904" target="_blank"><b>Omarrv2904</b></a> para <span><b>Web50xNi</b></span>
      </div>
    </section>

</body>

<script src="../../statics/js/scroll.js"></script>
<!-- Bootstrap JS link -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</html>