@import url("https://fonts.cdnfonts.com/css/pixel-bit");
@import url("https://fonts.cdnfonts.com/css/orbitron");
@import url("https://fonts.cdnfonts.com/css/baloo-tamma");
/*Elementos SASS*/
/*Variables*/
.navegacion {
  font-size: 24px;
  margin-bottom: 10px;
}

/*Anidamiento en la lista del indice*/
ol {
  list-style-type: decimal;
  font-size: 18px;
  font-family: "Orbitron", sans-serif;
  color: #333;
}
ol li {
  margin: 10px 0;
  position: relative;
}
ol li::before {
  content: "";
  display: block;
  position: absolute;
  top: 5px;
  left: -25px;
  width: 14px;
  height: 14px;
  background-color: #333;
  border-radius: 50%;
}
ol li:last-child {
  margin-bottom: 0;
}
ol li a {
  color: #333;
  text-decoration: none;
}
ol li a:hover {
  color: #666;
}

/*Herencia*/
.news2, .news {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px auto;
  max-width: 1000px;
}

.hend, h1 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #444444;
}

.news-item2, .news-item {
  background-color: #fff;
  border-radius: 20px;
  padding: 30px;
}

.news-item2 h2, .news-item h1 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.news-item2 p, .news-item p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.news-item2 a, .news-item a {
  color: #e63946;
  font-weight: bold;
  text-decoration: none;
}

.n_p2, .n_p {
  text-align: justify;
}

#home5, #home4, #home3, #home2, #home {
  height: 85vh;
  min-height: 100px;
  background-size: cover;
  background-position: 40%;
  filter: grayscale(70%);
  align-content: flex-end;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.titulo3, .titulo2, .titulo {
  display: grid;
  place-items: center;
  font-family: "Baloo Tamma", sans-serif;
}

/*Elementos CSS*/
* {
  scroll-behavior: smooth;
  transition: 1s all ease;
}

.bd {
  background-color: #c7cece;
}

#navnews {
  font-size: 35px;
}

.navbar-nav {
  color: black;
  font-size: 30px;
  /* font-family: 'Gotham Light', sans-serif;*/
  font-family: "Pixel Bit", sans-serif;
}

.fw-bold {
  color: #252627;
  font-size: 35px;
  /*font-family: 'Gotham', sans-serif;*/
  font-family: "Orbitron", sans-serif;
}

.prueba span:hover {
  display: none;
}

.navred {
  color: rgb(190, 25, 25);
}

.navwhite {
  color: rgba(255, 255, 255, 0.945);
}

.nav-link {
  color: rgb(190, 25, 25);
}

#nv {
  color: rgb(190, 25, 25);
}

#nv:hover {
  color: black;
}

#home {
  background-image: url("https://images2.alphacoders.com/116/1169015.jpg");
}

#home2 {
  background-image: url("https://images7.alphacoders.com/457/457534.jpg");
}

#home3 {
  background-image: url("https://images6.alphacoders.com/123/1238644.jpg");
}

#home4 {
  background-image: url("https://cdn.pixabay.com/photo/2016/10/03/11/20/macbook-1711344_1280.jpg");
}

#home5 {
  background-image: url("https://sm.ign.com/t/ign_latam/news/a/avatar-the/avatar-the-way-of-water-has-passed-titanic-and-is-now-the-th_jjzc.1280.jpg");
}

/* Media query para el header */
/* tablet */
@media (max-width: 768px) {
  header {
    background-size: cover;
    background-position: 95%;
    background-image: url("https://images2.alphacoders.com/116/1169015.jpg");
    justify-content: flex-start;
  }
}
/* vista mobile para el header */
@media (max-width: 600px) {
  header {
    background-size: cover;
    background-position: 55%;
    background-image: url("https://mfiles.alphacoders.com/966/966162.jpg");
    justify-content: flex-start;
  }
}
.titulo {
  color: #F7F9F9;
}

.titulo2 {
  color: #252627;
}

.titulo3 {
  color: #fff;
}

/* pagina con extend */
p {
  font-size: 16px;
  line-height: 1.5;
  color: #666666;
}

a {
  color: #0077ff;
}

a:hover {
  color: #004499;
}

.twit {
  display: flex;
  justify-content: center;
}

.dev {
  background-color: #252627;
  padding: 15px;
}

.orrv {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #c7cece;
  font-family: "Orbitron", sans-serif;
}

.orrv span {
  color: #c7cece;
}

/* Subir */
.subir {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}

.subir a {
  display: block;
  width: 50px;
  height: 50px;
  color: rgb(190, 25, 25);
  text-align: center;
  font-size: 2rem;
}

#imgnew {
  margin: 0 auto;
  text-align: center;
}

.img_nw {
  position: relative;
  display: inline-block;
  margin: 20px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.img_nw:hover img {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.img_nw img {
  display: block;
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.img_nw p {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 20px;
  font-weight: bold;
  color: #222;
  text-align: center;
  transition: background-color 0.3s ease-in-out;
}

.comparacion {
  margin: 40px 0;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.comparacion h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 20px 0;
}

.comparacion ul {
  margin: 10px;
  padding: 0 0 0 30px;
  list-style-type: disc;
}

.comparacion li {
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5;
  color: #444;
}

.comparacion p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
  color: #777;
}/*# sourceMappingURL=style.css.map */