@import url('https://fonts.cdnfonts.com/css/pixel-bit');
@import url('https://fonts.cdnfonts.com/css/orbitron');
@import url('https://fonts.cdnfonts.com/css/baloo-tamma');

/*Elementos SASS*/

/*Variables*/

$colors_nav: rgb(190, 25, 25);
$colors_nav2: rgba(255, 255, 255, 0.945);
$bgcolor: #c7cece;
$colorblack: black;
$graycolor: #252627;
$news_title: 35px;
$font1: 'Pixel Bit', sans-serif;
$font2: 'Orbitron', sans-serif;
$nav_size: 30px;
$bold_size: 35px;
$Ocultar_cosas: none;
$centro: center;
$colorp: #666666;

.navegacion{
  font-size: 24px;
  margin-bottom: 10px;
}

/*Anidamiento en la lista del indice*/
ol {
    list-style-type: decimal;
    font-size: 18px;
    font-family: $font2;
    color: #333;
    
    li {
      margin: 10px 0;
      position: relative;
    
      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 5px;
        left: -25px;
        width: 14px;
        height: 14px;
        background-color: #333;
        border-radius: 50%;
      }
    
      &:last-child {
        margin-bottom: 0;
      }
    
      a {
        color: #333;
        text-decoration: none;
    
        &:hover {
          color: #666;
        }
      }
    }
  }
  
  
/*Herencia*/

%noticias{
    display: flex;
    justify-content: space-between;
    align-items: $centro;
    margin: 50px auto;
    max-width: 1000px;
}

%noticias-titulos{
    font-size: 28px;
    margin-bottom: 20px;
    color: #444444;
}

%noticias-items{
    background-color: #fff;
    border-radius: 20px;
    padding: 30px;
}

%noticias-items-titulos{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

%noticias-items-parrafos{
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}

%noticias-items-a{
    color: #e63946;
    font-weight: bold;
    text-decoration: $Ocultar_cosas;
}

%np{
    text-align: justify;
}

%headers{
  height: 85vh;
    min-height: 100px;
    background-size: cover;
    background-position: 40%;
    filter: grayscale(70%);
    align-content: flex-end;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

%titulos-header{
  display: grid;
  place-items: $centro;
  font-family: 'Baloo Tamma', sans-serif;
}

/*Elementos CSS*/

*{
    scroll-behavior: smooth;
    transition: 1s all ease;
}

.bd{
    background-color: $bgcolor;
}

#navnews{
    font-size: $news_title;
}

.navbar-nav{
    color: $colorblack;
    font-size: $nav_size;
   /* font-family: 'Gotham Light', sans-serif;*/
    font-family: $font1;
}

.navbar-fixed-top.scrolled {
  background-color: #252627 !important;
  transition: background-color 200ms linear;
}

@media (max-width: 768px) {
  #nav-bg {
    background-color: #c7cece;
  }
}

@media screen and (max-width: 425px) {
  #nav-bg {
    position: absolute;
    right: 0;
    font-size: 0.8rem;
    padding: 0.25rem 0.5rem;
  }
}


.fw-bold{
    color: $graycolor;
    font-size: $bold_size;
    /*font-family: 'Gotham', sans-serif;*/
    font-family: $font2
                                                
}

.prueba span:hover{
    display: $Ocultar_cosas; 
}


.navred{
    color: $colors_nav;
}

.navwhite{
    color: $colors_nav2;
}

.nav-link{
    color: $colors_nav;
}

#nv{
    color: $colors_nav;
}

#nv:hover{
    color: $colorblack;
}

#home{
    @extend %headers;
    background-image: url('../images/header-img/header-news/news1/1169015.jpg');
}

#home2{
  @extend %headers;
  background-image: url('../images/header-img/header-news/news2/457534.jpg');
}

#home3{
  @extend %headers;
  background-image: url('../images/header-img/header-news/news3/1238644.jpg');
}

#home4{
  @extend %headers;
  background-image: url('../images/header-img/header-news/news4/macbook-1711344_1280.jpg');
}

#home5{
  @extend %headers;
  background-image: url('../images/header-img/header-news/news5/avatar-the-way-of-water-has-passed-titanic-and-is-now-the-th_jjzc.1280.webp');
}

/* Media query para el header */
/* tablet */
@media (max-width: 768px){
  #home{
      background-size: cover;
      background-position: 50%;
      justify-content: flex-start;
      filter: grayscale(70%);
  }
  
  #home2{
      background-size: cover;
      background-position: 95%;
      background-image: url("https://images7.alphacoders.com/457/457534.jpg");
      justify-content: flex-start;
      filter: grayscale(70%);
  }

  #home5{
    background-size: cover;
      background-position: 55%;
      justify-content: flex-start;
      filter: grayscale(70%);
  }
}
/* vista mobile para el header */
@media (max-width: 600px){
  #home{
    background-size: cover;
    filter: grayscale(70%);
    background-position: 95%;
    background-image: url("https://mfiles.alphacoders.com/966/966162.jpg");
    justify-content: flex-start;
}
  
  #home2{
      background-size: cover;
      background-position: 55%;
      background-image: url("https://mfiles.alphacoders.com/828/828286.jpg");
      justify-content: flex-start;
      filter: grayscale(70%);
  }

  #home3{
      background-size: cover;
      background-position: 45%;
      justify-content: flex-start;
      filter: grayscale(70%);
  }

  #home5{
    background-size: cover;
      background-position: 55%;
      background-image: url("https://mfiles.alphacoders.com/634/634663.jpg");
      justify-content: flex-start;
      filter: grayscale(70%);
  }

  .titulo2 h1{
    color: #fff;
  }

}

.titulo{
    @extend %titulos-header;
    color: #F7F9F9;
}

.titulo2{
  @extend %titulos-header;
  color: #252627;
}

.titulo3{
  @extend %titulos-header;
  color: #fff;
}

/* pagina con extend */
.news {
    @extend %noticias;
  }

  h1 {
    @extend %noticias-titulos;
  }

  p {
    font-size: 16px;
    line-height: 1.5;
    color: $colorp;
  }

  a {
    color: #0077ff;
  }

  a:hover {
    color: #004499;
  }

  .n_p{
    @extend %np;
  }

  .news2{
    @extend %noticias; 
  }

  .n_p2{
    @extend %np;
  }

  .hend{
    @extend %noticias-titulos;
  }
  
  .news-item {
    @extend %noticias-items;
  }

  .news-item2 {
    @extend %noticias-items;
  }
  
  .news-item h1 {
    @extend %noticias-items-titulos;
  }

  .news-item2 h2 {
    @extend %noticias-items-titulos;
  }
  
  .news-item p {
    @extend %noticias-items-parrafos;
  }

  .news-item2 p {
    @extend %noticias-items-parrafos;
  }
  
  .news-item a {
    @extend %noticias-items-a;
  }

  .news-item2 a {
    @extend %noticias-items-a;
  }

  //***\\

  .twit {
    display: flex;
    justify-content: $centro;
  }

  .dev{
    background-color: #252627;
    padding: 15px;
}

.orrv{
    text-align: $centro;
    font-size: 24px;
    font-weight: bold;
    color: #c7cece;
    font-family: $font2;
}

.orrv span{
    color: #c7cece;
}

/* Subir */

.subir{
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}

.subir a{
display: block;
width: 50px;
height: 50px;
color: $colors_nav;
text-align: $centro;
font-size: 2rem;
}

/*Imagen noticias*/

#imgnew{
  margin: 0 auto;
  text-align: center;
}

$box-shadow-img_nw: 0px 0px 10px rgba(0,0,0,0.3);
$border-imgnw: 10px;
$margen-imgnw: 20px;
$fijar: block;

.img_nw {
  position: relative;
	display: inline-block;
	margin: $margen-imgnw;
	overflow: hidden;
	border-radius: $border-imgnw;
	box-shadow: $box-shadow-img_nw;
}

.img_nw:hover img{
  transform: scale(1.1);
	transition: transform 0.3s ease-in-out;
}

.img_nw img {
  display: $fijar;
	width: 100%;
	height: auto;
	transition: transform 0.3s ease-in-out;
}

$bgcolor-img_nw: rgba(255, 255, 255, 0.8);
$sizefont-imgnwp: 20px;

.img_nw p {
  position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	margin: 0;
	padding: 10px;
	background-color: $bgcolor-img_nw;
	font-size: $sizefont-imgnwp;
	font-weight: bold;
	color: #222;
	text-align: center;
	transition: background-color 0.3s ease-in-out;
}

.comparacion {
  margin: 40px 0;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
}
.comparacion h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 20px 0;
}
.comparacion ul {
  margin: 10px;
  padding: 0 0 0 30px;
  list-style-type: disc;
}
.comparacion li {
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5;
  color: #444;
}
.comparacion p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
  color: #777;
}

//Noticias entre noticias

.noticias-contenedor {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* ajustar según el número de columnas deseado */
  grid-gap: 20px; /* ajustar según el espaciado deseado */
}

.noticias-contenedor-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.noticias-contenedor-item img {
  width: 50%;
  height: auto;
  object-fit: cover;
  margin-bottom: 10px; /* ajustar según el espaciado deseado */

}


.noticias-contenedor-item h3 {
  font-size: 1.2rem; /* ajustar según el tamaño deseado */
  margin: 0;
}

.noticias-contenedor-item p {
  margin-top: 10px; /* ajustar según el espaciado deseado */
}

.noticias-rel{
    display: grid;
    place-items: center;
    font-family: $font2;
}

/* Estilos para pantallas de 768px o menos */
@media (max-width: 768px) {
  .noticias-contenedor {
    display: block; /* Cambia el display a bloque para mostrar los elementos uno debajo del otro */
  }

  .noticias-contenedor-item {
    margin-bottom: 20px; /* Agrega un margen inferior para separar los elementos */
  }

  .noticias-contenedor-item img {
    width: 100%; /* Establece el ancho de la imagen al 100% */
    height: auto;
  }
}