@import url('https://fonts.cdnfonts.com/css/gotham');
@import url('https://fonts.cdnfonts.com/css/orbitron');
@import url('https://fonts.cdnfonts.com/css/pixel-bit');
@import url('https://fonts.cdnfonts.com/css/baloo-tamma');


body{
    background-color: #F7F9F9;
}
                
.navbar-nav{
    color: black;
    font-size: 30px;
   /* font-family: 'Gotham Light', sans-serif;*/
    font-family: 'Pixel Bit', sans-serif;
}

.fw-bold{
    color: black;
    font-size: 35px;
    /*font-family: 'Gotham', sans-serif;*/
    font-family: 'Orbitron', sans-serif;
                                                
}

.prueba span:hover{
    display: none;
}
.nav-link{
    color: rgb(190, 25, 25);
}

header{
    height: 85vh;
    min-height: 100px;
    background-size: cover;
    background-position: 40%;
    background-image: url('https://images4.alphacoders.com/115/1151246.jpg');
    filter: grayscale(50%);
    align-content: flex-end;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.titulo{
    display: grid;
    place-items: center;
    font-family: 'Baloo Tamma', sans-serif;
    color: #F7F9F9;
}

/* Media query para el header */
/* tablet */
@media (max-width: 768px){
    header{
        background-size: cover;
        background-position: 95%;
        background-image: url("https://images4.alphacoders.com/115/1151246.jpg");
        justify-content: flex-start;
    }
}
/* vista mobile para el header */
@media (max-width: 600px){
    header{
        background-size: cover;
        background-position: 55%;
        background-image: url("https://mfiles.alphacoders.com/966/966162.jpg");
        justify-content: flex-start;
    }
}

/* Seccion de noticias */

.card{
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0);
    transition: 0.3s;
    border-radius: 20px;
    background-color: white;
}

.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-title{
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 600;
    color: #333;
}

.card-text{
    margin-bottom: 22px;
    font-size: 16px;
    color: #666;
}