@import url('https://fonts.cdnfonts.com/css/gotham');
@import url('https://fonts.cdnfonts.com/css/orbitron');
@import url('https://fonts.cdnfonts.com/css/pixel-bit');
@import url('https://fonts.cdnfonts.com/css/baloo-tamma');

*{
    scroll-behavior: smooth;
    transition: 2s all ease;
}

body{
    background-color: #c7cece;
}
                
.navbar-nav{
    color: black;
    font-size: 30px;
   /* font-family: 'Gotham Light', sans-serif;*/
    font-family: 'Pixel Bit', sans-serif;
}

.fw-bold{
    color: black;
    font-size: 35px;
    /*font-family: 'Gotham', sans-serif;*/
    font-family: 'Orbitron', sans-serif;
                                                
}

.prueba span:hover{
    display: none; 
}

.nav-link{
    color: rgb(190, 25, 25);
}

header{
    height: 85vh;
    min-height: 100px;
    background-size: cover;
    background-position: 40%;
    background-image: url('https://images4.alphacoders.com/115/1151246.jpg');
    filter: grayscale(50%);
    align-content: flex-end;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.titulo{
    display: grid;
    place-items: center;
    font-family: 'Baloo Tamma', sans-serif;
    color: #F7F9F9;
}

/* Media query para el header */
/* tablet */
@media (max-width: 768px){
    header{
        background-size: cover;
        background-position: 95%;
        background-image: url("https://images4.alphacoders.com/115/1151246.jpg");
        justify-content: flex-start;
    }
}
/* vista mobile para el header */
@media (max-width: 600px){
    header{
        background-size: cover;
        background-position: 55%;
        background-image: url("https://mfiles.alphacoders.com/966/966162.jpg");
        justify-content: flex-start;
    }
}

/* Seccion de noticias */

.card{
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0);
    transition: 0.3s;
    border-radius: 25px;
    background-color: white;
}

.card img{
    height: 200px;
    object-fit: cover;
}

.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-title{
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 600;
    color: #333;
    font-family: 'BalooChettan', sans-serif;
}

.card-text{
    margin-bottom: 22px;
    font-size: 16px;
    color: #666;
    font-family: 'BalooTammudu', sans-serif;
}

#more {
    display: none;
}

.btn-primary{
    background-color: #007bff;
    border-color: #007bff;
    color: whitesmoke;
    font-weight: 600;
    border-radius: 20px;
    font-family: 'Baloo Bhai', sans-serif;
}

.btn-primary:hover {
    background-color: #1160b4;
    border-color: #0f5aac;
    color: white;
  }

  /* Espacio entre la seccion de noticias y en header */
  .news{
    margin-top: 45px;
  }

  /* media query's de las noticias */
  @media (max-width: 600px){
    .news{
        margin-top: 20px;
    }
  }

  /* Galeria */

  .gal{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #galeria{
    display: flex;
    width: 85rem;
    height: 450px;
  }

  #galeria img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .7;
    transition: .8s ease;
  }

  #galeria img:hover{
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
  }

  @media (max-width: 768px){
    .gal{
        display: none;
    }
  }

  @media screen and (min-width: 768px){
    .gale{
        display: none;
    }
  }

  @media only screen and (max-width: 768px){
    .gale{
        display: block;
        margin: 0 auto;
        text-align: center;
    }

    .gale img{
        display: inline-block;
        max-width: 100%;
        margin: 0px;
    }
  }

/* Tabla de noticias */
.news{
    margin: 20px 0px;
}

table{
    width: 100%;
    border-collapse: collapse;
}

th, td{
    padding: 10px;
    text-align: left;
    vertical-align: middle;
    border-bottom: 1px solid #ddd;
}

th{
    background-color: #333;
    color: #ffff;
    font-family: 'Baloo Da', sans-serif;
    font-size: 20px;
}

td a{
    display: block;
    color: #252627;
    font-family: 'Baloo Da', sans-serif;
}

td{
    font-family: 'Baloo Da', sans-serif;
}

h2{
    margin-bottom: 20px;
    font-family: 'Baloo Tamma', sans-serif;
    padding: 0px 10px;
}

/* tabla de noticias solo para telefono */

@media screen and (min-width: 425px){
    .tablenews{
        display: none;
    }
  }

  @media screen and (min-width: 375px){
    .tablenews{
        display: none;
    }
  }

  @media screen and (min-width: 320px){
    .tablenews{
        display: none;
    }
  }

  @media screen and (max-width: 425px){
    .news-mobil{
        display: block;

    }
  }

/* Imagen de la noticia */

.imgnews{
    width: 200px;
    height: 115px;
    padding: 0px 0px;
}

.imgnews img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* media query de la tabla en mobile */

@media (max-width: 600px){
    .imgnews img{
        object-fit: contain;
    }
}

/* Video antes del footer */

.video{
    background-color: #252627;
    display: block;
}

.video-titulo{
    color: #fff;
    text-align: center;
    font-size: 4rem;  
}

.videoplay{
    display: grid;
    place-items: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.4);
}

.video-mobil{
    background-color: #252627;
    display: block;
}

.video-titulo-mobil{
    color: #fff;
    text-align: center;
}

.videoplay-mobil{
    display: grid;
    place-items: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.4);  
}

@media screen and (min-width: 769px){
    .video-mobil{
        display: none;
    }
}

@media screen and (max-width: 768px){
    .video{
        display: none;
    }
}